%h2 Edit My Account

- form_for @user, :url => account_path do |f|
  = f.error_messages :fields => [:email,:password,:password_confirmation,:openid_identifier], :header_message => "Unable to edit user due to #{pluralize(@user.errors.size, 'error')}:", :message => nil
  = render :partial => "form", :object => f
  = f.submit "Update"

%ul#hints
  = render :partial => "hints"
