%h2 Edit My Account

- form_for @user, :url => user_path do |f|
  = f.error_messages
  = f.text_field :display_name
  = render :partial => "form", :object => f
  = f.submit "Update"

%ul#hints
  = render :partial => "hints"
