%h2 Sign up
= flash_messages

- form_for @user, :url => users_path do |f|
  = f.error_messages  :fields => [:email,:password,:password_confirmation,:openid_identifier], :header_message => "Unable to register user due to #{pluralize(@user.errors.size, 'error')}:", :message => nil
  = render :partial => "form", :object => f
  = f.submit "Register"

%ul#hints
  %li Activation instructions will be sent to the provided email address
  = render :partial => "hints"
